
{% assign person = include.person %}

{% comment %}

Usage:

{% for item in site.data.people %}
    {% assign person = item[1] %}
    {% if person.role == role.key %}
        {% include person.html person=person image=true %}
    {% endif %}
{% endfor %}

Use the image parameter to include or not include an image.

{% endcomment %}

{% assign name = person.display_name %}

{% if include.image %}
    {% if person.webpage %}
        <a class="person-card-link" href="{{ person.webpage | escape }}">
    {% endif %}
    <div class="person person-with-image">
        {% if person.webpage %}
            {% include person-image.html person=person nolink=true %}
        {% else %}
            {% include person-image.html person=person %}
        {% endif %}
        <h6 class="person-name">{{ name }}</h6>
        {% if person.bio %}
            <div class="bio">{{ person.bio }}</div>
        {% endif %}
    </div>
    {% if person.webpage %}
        </a>
    {% endif %}
{% else %}
    {% if person.webpage %}
        <a class="person-card-link" href="{{ person.webpage | escape }}">
    {% endif %}
    <div class="person person-without-image">
        {{ name }}
        {% if person.bio %}
            <span class="bio">{{ person.bio }}</span>
        {% endif %}
    </div>
    {% if person.webpage %}
        </a>
    {% endif %}
{% endif %}
