
{% assign project = include.project %}
{% assign href = nil %}
{% if project.link %}
    {% capture link_init %}{{ project.link | slice: 0,4 }}{% endcapture %}
    {% if link_init == "http" %}
        {% assign href = project.link %}
    {% else %}
        {% assign href = project.link | relative_url %}
    {% endif %}
{% endif %}

<div class="card project-card">
    {% if href %}
        <a class="card-body project-card-link" href="{{ href }}">
    {% else %}
        <div class="card-body">
    {% endif %}
        {% if project.image %}
            {% assign imgurl = project.image %}
            {% capture init %}{{ project.image | slice: 0,1 }}{% endcapture %}
            {% if init == "/" %}
                {% capture imgurl %}{{site.baseurl}}{{project.image}}{% endcapture %}
            {% endif %}
            <img class="img-fluid mb-3" src="{{imgurl}}" alt="{{project.title}}"/>
        {% endif %}
        {% if project.notitle != true %}
            <h4 class="card-title">
                {{  project.title }}
            </h4>
        {% endif %}
        {% if project.subtitle != null and project.subtitle != "" %}
            <h6 class="card-subtitle mb-2 text-muted">
                {{  project.subtitle }}
            </h6>
        {% endif %}
        <div class="card-text">
            {{ project.description | markdownify }}
        </div>
    {% if href %}
        </a>
    {% else %}
        </div>
    {% endif %}
    {% if project.people %}
        <div class="card-footer d-flex flex-row flex-wrap justify-content-center">
            {% for uname in project.people %}
                <div>
                    {% assign person = site.data.people[uname]  %}
                    {% include person-image.html person=person %}
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
