<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Pre-trained Large Language Models Learn to Predict Hidden Markov Models In-context.
			</span><br />
			<span class="authors">
				<strong>Yijia Dai</strong>, Zhaolin Gao, Yahya Sattar, Sarah Dean, and <strong>Jennifer Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2026</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:k_IJM867U9cC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Agentic Discovery of Multi-Channel Bioacoustic Association Algorithms.
			</span><br />
			<span class="authors">
				<strong>Paramjyoti Mohapatra</strong>, Irina Tolkova, <strong>Akanksha Sarkar</strong>, Atharva Sehgal, Daniel P Salisbury, Andrew L Von Duyke, Léa Bouffaut, Holger Klinck, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">ICLR 2026 Workshop on Foundation Models for Science: Real-World Impact and Science-First Design</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:maZDTaKrznsC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2603.16011">Evaluating Agentic Optimization on Large Codebases</a>.
			</span><br />
			<span class="authors">
				Atharva Sehgal, James Hou, <strong>Akanksha Sarkar</strong>, Ishaan Mantripragada, Swarat Chaudhuri, <strong>Jennifer J Sun</strong>, and Yisong Yue.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2603.16011</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:M3NEmzRMIkIC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Tracking and understanding object transformations.
			</span><br />
			<span class="authors">
				Yihong Sun, <strong>Xinyu Yang</strong>, <strong>Jennifer Sun</strong>, and Bharath Hariharan.
			</span><br />
			<span class="venuetype"></span><span class="venue">NeurIPS 2026</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:isC4tDSrTZIC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Simple Agents Outperform Experts in Biomedical Imaging Workflow Optimization.
			</span><br />
			<span class="authors">
				Xuefei Wang, <strong>Kai Horstmann</strong>, <strong>Ethan Lin</strong>, <strong>Jonathan Chen</strong>, Alexander Farhang, Sophia Stiles, Atharva Sehgal, Jonathan Light, David Van Valen, Yisong Yue, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2026</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:blknAaTinKkC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2026</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Live Interactive Training for Video Segmentation.
			</span><br />
			<span class="authors">
				<strong>Xinyu Yang</strong>, Haozheng Yu, Yihong Sun, Bharath Hariharan, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">CVPR 2026</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:JV2RwH3_ST0C">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2506.07298">Pre-trained Large Language Models Learn Hidden Markov Models In-context</a>.
			</span><br />
			<span class="authors">
				<strong>Yijia Dai</strong>, Zhaolin Gao, Yahya Sattar, Sarah Dean, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2506.07298</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:R3hNpaxXUhUC">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2507.03542">Beyond Accuracy: Metrics that Uncover What Makes a'Good'Visual Descriptor</a>.
			</span><br />
			<span class="authors">
				<strong>Ethan Lin</strong>, <strong>Linxi Zhao</strong>, Atharva Sehgal, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2507.03542</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:iH-uZ7U-co4C">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2509.15585">How many classes do we need to see for novel class discovery?</a>.
			</span><br />
			<span class="authors">
				<strong>Akanksha Sarkar</strong>, Been Kim, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2509.15585</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:j3f4tGmQtD8C">Google Scholar</a>]
			</span>
		</td>
	</tr>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<a href="https://arxiv.org/abs/2505.15962">Pre-training Limited Memory Language Models with Internal and External Knowledge</a>.
			</span><br />
			<span class="authors">
				<strong>Linxi Zhao</strong>, Sofian Zalouk, Christian K Belardi, Justin Lovelace, Jin Peng Zhou, Ryan Thomas Noonan, Dongyoung Go, Kilian Q Weinberger, Yoav Artzi, and <strong>Jennifer J Sun</strong>.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2505.15962</span>.
			<br />
			<span class="links">
				[<a href="https://scholar.google.com/citations?view_op=view_citation&amp;hl=en&amp;user=TejzmcwAAAAJ&amp;citation_for_view=TejzmcwAAAAJ:TQgYirikUcIC">Google Scholar</a>]
			</span>
		</td>
	</tr>
</tbody>
</table>