<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2025</strong></big><br />
				
				
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				Simple Agents Outperform Experts in Biomedical Imaging Workflow Optimization.
			</span><br />
			<span class="authors">
				Kai A Horstmann, Ethan Lin, Jonathan Chen, Alexander R Farhang, Sophia Stiles, Atharva Sehgal, Jonathan Light, David Van Valen, Yisong Yue, Jennifer J Sun, and others.
			</span><br />
			<span class="venuetype"></span><span class="venue">arXiv preprint arXiv:2512.06006</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
